{% extends 'events/base.html' %}

{% block links %}
    <style>
        #running-event p span{font-weight:700;}
    </style>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div id="participant"><b>Participant:</b> {{ user.first_name }} {{ user.middle_name }} {{ user.last_name }}</div>
        <h4 class="page-title">RUNNING EVENT</h4>

            {% for event in events %}
                <div id="running-event">
                    <p><span>Event: </span>{{ event.name }}</p>
                    <p><span>Venue: </span>{{ event.venue }}</p>
                    <p><span>Organizer: </span>{{ event.organizer }}</p>
                    <p><span>Type of Event: </span>{{ event.event_type }}</p>
                    <p><span>Start Date: </span>{{ event.start_date }}</p>
                    <p><span>End Date: </span>{{ event.end_date }}</p>
                </div>
            {% endfor %}
        </table>
    </div>
{% endblock %}
