{% extends 'events/base.html' %}


{% block content %}
    <div class="wrapper">
        <div id="participant"><b>Participant:</b> {{ user.first_name }} {{ user.middle_name }} {{ user.last_name }}</div>
        <h4 class="page-title">RUNNING EVENTS</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Venue</th>
                    <th>Organizer</th>
                    <th>Event Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.venue }}</td>
                    <td>{{ event.organizer }}</td>
                    <td>{{ event.event_type }}</td>
                    <td>{{ event.start_date }}</td>
                    <td>{{ event.end_date }}</td>
                    <td><button class="btn btn-primary">Join</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
