{% extends 'events/base.html' %}

{% block content %}
    <div class="wrapper">
        <h4 class="page-title">EVENTS</h4>
        <a href="{% url 'events-add' %}" class="btn btn-primary">Add</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Venue</th>
                    <th>Organizer</th>
                    <th>Event Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.venue }}</td>
                    <td>{{ event.organizer }}</td>
                    <td>{{ event.event_type }}</td>
                    <td>{{ event.start_date }}</td>
                    <td>{{ event.end_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}